@import '../../page/globals';

#root main #page-content {
  padding-top: 10%;

}

.monitor-main-section {
  h1 {
    font-size: 83px;
    color: $blue;
    font-weight: 500;
    margin-bottom: 10px;

    span {
      font-weight: 300;
    }
  }

  p {
    font-size: 15px;
    line-height: 26px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:first-of-type {
      border-bottom: solid 4px $blue;
    }
  }

  h2 {
    font-size: 72px;
    font-weight: 400;
    color: $blue;
    margin-bottom: 40px;
  }

  a {
    cursor: pointer;
    font-size: 27px;
    display: inline-block;
    border: solid 2px;
    padding: 10px 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    position: relative;
    transition: all 200ms;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      transition: all 200ms;
      z-index: -1
    }

    &:hover {
      color: white!important;

      &:before {
        width: 100%;
      }
    }
  }

  #monitor-main-section-explore-link {
    border-color: $blue;
    color: $blue;

    &:before {
      background: $blue;
    }
  }

  #monitor-main-section-compare-link {
    border-color: $violet;
    color: $violet;

    &:before {
      background: $violet;
    }
  }

}
