.idea
*.log
.DS_Store
*.pyc
__pycache__
node_modules
monitor-bkp
dist
client_secrets.json
credentials.json
settings.yaml
token.json
coverage
*.csv
*.zip
**/datasets/*.json
wireframes
build/
cache/
data/*.csv
data/*.zip