@import './components/group-entities/index';

.monitor-config-bar {
  width: 100%;
  border-bottom: solid 1px #ddd;
  background: white;
  z-index: 2;

  .monitor-config-bar-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
  }

  .monitor-config-bar-years-select,
  .monitor-config-bar-budgets-select,
  .monitor-config-bar-entities-select {
    flex: 1;
    max-width: 40%;
    margin: 18px 20px;
    display: inline-block;
    text-align: left;
    color: #333;
  }

  .monitor-config-bar-entities-select {
    position: relative;
  }
}
