@import '../../components/page/globals';
@import '../../components/content-section/index';

#budget-main-content {
  h1, h2 {
    color: $purple;
  }

  h1 {
    font-size: 40px;
    line-height: 43px;
  }

  .content-section-content {
    font-size: 21px;
    line-height: 40px;
  }

  .content-section-title:before {
    background: $purple;
  }

  @import './components/what-is-the-budget/index';
  @import './components/budget-steps/index';
  @import './components/budget-classifications/index';
  @import './components/budget-accordions/index';
}
