#hierarchy-chart-container {
  max-height: 500px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 20px;
  overflow: scroll;

  .orgchart-container {
    height: auto;
  }

  .orgchart, .orgchart-container  {
    background: none;
    border: none;
  }

  li:before {
    border-color: #555;
  }

  div:before, div:after {
    background-color: #555;
  }

  .orgchart ul li .oc-node:hover {
    background: none;
  }

  .orgchart ul {
    justify-content: center;
  }
}
