@import '../../components/page/globals';

#root main #page-content {
  padding-top: 10%;

}

#monitor-main-title {
  font-size: 83px;
  color: $blue;
  font-weight: 500;
  padding-bottom: 30px;
  border-bottom: solid 4px $blue;
  margin-bottom: 20px;

  span {
    font-weight: 300;
  }
}

@import 'components/monitor-comparator/index';
@import '../../components/loading-overlay/index';
