@import '../../../entities-selectors/index';
@import './reset-button/index';

#monitor-explore-selectors {
  margin: 20px 0;
}

.monitor-selectors-options {
  margin-top: 20px;

  .monitor-selector-labels-who h3 {
    margin-left: 3 / 5.5 * 100%;
  }
}

#setting-form-years {
  margin-right: 0!important;
}
