@import '../page/globals';

.content-section {
  display: flex;

  .content-section-title {
    flex: 0 0 300px;
    padding: 50px 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 5px;
      width: 90%;
    }
  }

  .content-section-content {
    padding: 50px 0;
    line-height: 1.4;

    > :not(:first-child) {
      margin-top: 1em;
    }
  }
}
