$blue: #0041FF;
$light-blue: #0181FF;
$violet: #8200FF;
$dark-pink: #AF7AF9;
$purple: #FF00E1;
$pink: #FF83F6;
$turquoise: #00FFBC;
$grass: #58f1c7;
$green: #00B0AE;
$orange: #FF7110;
$yellow: #FFD400;
$grey: #3B404C;

$jurisdiccion: $green;
$entidad: $purple;
$program: $violet;
$activity: #BB73FF;
$function: #A94EF6;
