html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #fafafa;
  color: #f0f0f0;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.monitor-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 32px 12px;
}

.monitor-highlight {
  background: #0081ff;
}

p {
  margin: 0;
}

h1 {
  margin: 0 0 20px 0;
}

h2 {
  margin: 0 0 12px 0;
}

.monitor-link {
  color: #006dd9;
  cursor: pointer;

  &:hover {
    color: #0081ff;
  }
}

#main {
  padding-top: 44px;
}

@media (min-width: 768px) {
  #main {
    padding-top: 60px;
  }
}
