@import './reset.scss';

body {
  font-family: 'Rubik', sans-serif;
  background: #fafafa;
  color: #f0f0f0;
  font-weight: 300;
}

body, #root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;

  #main {
    flex-grow: 1;
  }
}

@import './components/footer/index';
