@import '../../../../components/content-section/index';

#doubts-main-content {
  margin-bottom: 50px;

  .content-section-content {
    border-bottom: solid 1px #333;
  }

  .content-section-title:before {
    background: $violet;
  }
}
