@import '../../../entities-selectors/index';
@import './reset-button/index';

#monitor-explore-selector {
  display: inline-block;
  width: 40%;
  text-align: right;
  margin: 0;

  .selector-wrapper {
    width: 46%;
    text-align: left;
    margin: 0;

    &#setting-form-years {
      margin: 0 4%;
      margin-bottom: 10px;
    }
  }

  #monitor-compare-reset {
    width: 46%;
    margin: 0 4%;
  }

}
