@import '../../components/content-section/index';

#about-main-content {
  h1, h2 {
    color: $green;
  }

  .content-section-title:before {
    background: $green;
  }

  a {
    color: $green;
  }

  @import './components/acij/index';
  @import './components/matchbox/index';
}
