#monitor-treemap-controls {
  margin: 5px 0;
  padding: 0 16px 0 5px;

  select + select {
    margin-left: 10px;
  }

  .monitor-link {
    float: right;
    font-size: 12px;
    margin-left: 10px;
  }
}