#monitor-explore-selector {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  #monitor-explore-selector-labels {
    display: flex;

    #monitor-explore-selector-labels-who,
    #monitor-explore-selector-labels-what,
    #monitor-explore-selector-labels-reason {
      &:not(:last-child) {
        padding-right: 35px;
      }

      span {
        font-size: 12px;
        line-height: 20px;
        display: block;
        border-bottom: solid 1px #555;
      }
    }

    #monitor-explore-selector-labels-who,
    #monitor-explore-selector-labels-what {
      flex: 0 0 40%;
    }

    #monitor-explore-selector-labels-reason {
      flex: 0 0 20%;
    }
  }

  #monitor-explore-selectors {
    display: flex;
    @import './selector/index';
  }
}
