@import '../../components/page/globals';

#background-768 {
  display: block;
  width: 100%;
}

#background-1920 {
  display: none;
}

@media (min-width: 768px) {
  #background-768 {
    display: none;
  }

  #background-1920 {
    padding-top: 56%;
    display: block;
    width: 100%;
    background-image: url('/static/portada-1920.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#root main #page-content {
  padding-top: 14%;

  h1 {
    font-size: 83px;
    color: $blue;
    font-weight: 500;
    margin: 20px 0;
  }

  p {
    font-size: 30px;
    line-height: 42px;
    margin: 20px 0;
  }

  #home-actions {
    a {
      cursor: pointer;
      font-size: 27px;
      display: inline-block;
      border: solid 2px;
      padding: 10px 30px;
      margin-right: 30px;
      font-weight: 500;

      &:hover {
        opacity: 0.9;
      }
    }

    #budget-link {
      border-color: $purple;
      color: $purple;
    }

    #budget-explore-link {
      border-color: $blue;
      color: $blue;
    }
  }
}
