.dropdown .dropdown-menu {
    left: unset;
    right: 0;
}

a.dropdown-item:nth-child(3) {
    display: none;
}

.monitor-chart-preffix:before {
    content: 'Seleccione un Ministerio o programa para ver su evolución presupuestaria:'
}

.monitor-chart-selector {
    margin-bottom: 10px;
}