@import '../../globals';
// TODO: the footer should always be at the bototm of the page.
// This sometimes isnt the case. For example in the login page

#footer {
  background: $green;
  padding: 20px;
  color: white;

  #footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    #acij-initiative {
      letter-spacing: 3px;
    }

    #acij-link {
      margin: 0 auto 0 30px;
      img {
        width: 150px;
      }
    }

    .social-link {
      margin-left: 50px;
      img {
        width: 50px;
      }
    }
  }
}
