@import '../../../page/globals.scss';

.compare-drag-list-container {
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 10px;
  width: 24%;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background: #aaa;
  }

  .compare-drag-list-title {
    margin: 10px 0;
    padding: 5px 0;
    position: relative;
    border-bottom: solid 1px #ddd;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 10px;
      height: 10px;
      border-bottom: solid 2px;
      border-right: solid 2px;
      transform: translateY(-50%) translateY(-4px) rotate(45deg);
    }
  }

  .compare-drag-list {
    overflow-y: scroll;
    height: 250px;
  }

  .compare-drag-list-item {
    font-size: 13px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px #eee;
  }
}

#list-jurisdictions {
  .compare-drag-list-title {
    color: $jurisdiccion;
    &:after {
      border-color: $jurisdiccion;
    }
  }
  &:after {
    background: $jurisdiccion;
  }
}

#list-entities {
  .compare-drag-list-title {
    color: $entidad;
    &:after {
      border-color: $entidad;
    }
  }
  &:after {
    background: $entidad;
  }
}

#list-programs {
  .compare-drag-list-title {
    color: $program;
    &:after {
      border-color: $program;
    }
  }
  &:after {
    background: $program;
  }
}

#list-activities {
  .compare-drag-list-title {
    color: $activity;
    &:after {
      border-color: $activity;
    }
  }
  &:after {
    background: $activity;
  }
}
