@import '../../../../components/content-section/index';

#about-matchbox {
  border-top: solid 3px $green;
  margin-bottom: 50px;

  h1 {
    font-size: 20px;
  }

  .content-section-content {
    border-bottom: solid 1px #333;
  }

  .content-section-title:before {
    content: none;
  }
}
