@import '../../globals';

#menu {
  margin-left: auto;
  flex: 0 0 200px;

  #menu-content {
    position: sticky;
    top: 0;
    padding: 20px;
  }

  #logo {
    display: block;
    width: 100%;
    height: 50px;
    background-image: url('/static/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  ul#menu-sections {
    list-style: none;
    margin: 0;
    padding: 70px 0;

    & > li:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  ul#menu-sections a {
    display: block;

    &:after {
      content: '';
      display: block;
      height: 5px;
      margin-top: 4px;
      width: 0;
      transition: width 200ms;
    }

    &#menu-link-budget:after {
      background: $purple
    }

    &#menu-link-monitor:after {
      background: $blue;
    }

    &#menu-link-about:after {
      background: $green;
    }

    &#menu-link-doubts:after {
      background: $violet;
    }

    &.active {
      font-weight: 700;
    }

    &:hover:after,
    &.active:after {
      width: 50px;
    }
  }
}
