@import '../../globals';

#menu {
  margin-left: auto;
  flex: 0 0 17%;

  #menu-content {
    position: sticky;
    top: 0;
    padding-top: 70px;
  }

  #logo {
    display: inline-block;
    height: 62px;
  }

  ul#menu-sections {
    list-style: none;
    margin: 0;
    padding: 70px 0;

    & > li:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  ul#menu-sections a {
    display: block;

    &:after {
      content: '';
      display: block;
      height: 5px;
      margin-top: 4px;
      width: 0;
      transition: width 200ms;
    }

    &#menu-link-budget:after {
      background: $purple
    }

    &#menu-link-monitor:after {
      background: $blue;
    }

    &#menu-link-about:after {
      background: $green;
    }

    &#menu-link-doubts:after {
      background: $violet;
    }

    &.active {
      font-weight: 500;
    }

    &:hover:after,
    &.active:after {
      width: 50px;
    }
  }
}
