@import '../../../../../../../components/page/globals.scss';

.entity-selector-wrapper {
  flex: 0 0 20%;
  padding-right: 35px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    width: 10px;
    height: 10px;
    border-bottom: solid 2px;
    border-right: solid 2px;
    transform: translateY(-50%) rotate(45deg);
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    display: block;
    color: inherit;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0;
    padding: 10px 30px 10px 0;
    border: none;
    border-bottom: solid 2px;
    box-shadow: none;
    background: transparent;
    outline: none;
    text-overflow: ellipsis;
  }

  &#entity-form-jurisdiccion {
    color: $jurisdiccion;
    &:after {
      border-color: $jurisdiccion;
    }
    select {
      border-bottom-color: $jurisdiccion;
    }
  }

  &#entity-form-entidad {
    color: $entidad;
    &:after {
      border-color: $entidad;
    }
    select {
      border-bottom-color: $entidad;
    }
  }

  &#entity-form-programa {
    color: $program;
    &:after {
      border-color: $program;
    }
    select {
      border-bottom-color: $program;
    }
  }

  &#entity-form-actividad {
    color: $activity;
    &:after {
      border-color: $activity;
    }
    select {
      border-bottom-color: $activity;
    }
  }

  &#entity-form-funcion {
    color: $function;
    &:after {
      border-color: $function;
    }
    select {
      border-bottom-color: $function;
    }
  }
}

