.monitor-treemap-download {
  text-align: right;
  font-size: 12px;
  margin: 5px 0;
  color: #222;

  .monitor-link + .monitor-link {
    margin-left: 10px;
  }
}

.monitor-treemap-selectors {
  text-align: right;
  margin: 5px 0;

  select + select {
    margin-left: 10px;
  }
}