#menu {
  margin-left: auto;
  flex-basis: 17%;

  #menu-content {
    position: sticky;
    top: 0;
    padding-top: 30%;
  }

  #logo {
    display: inline-block;
    width: 85%;
  }

  ul#menu-sections {
    list-style: none;
    margin: 0;
    padding: 66% 0;

    a {
      display: block;
      @import './link-border';
    }

    li:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}
