@import '../../../globals';

a {
  cursor: pointer;
}

& > a {
  position: relative;
  padding-bottom: 20px;
  font-weight: 500;

  &:after {
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 0;
    transition: width 200ms;
  }

  &:hover:after,
  &.active:after {
    width: 50px;
  }

  &.active {
    font-weight: 900;
  }

}

& > #menu-link-budget {
  &:after {
    background: $purple;
  }

  & + ul a:hover {
    color: $purple;
  }
}

& > #menu-link-monitor {
  &:after {
    background: $blue;
  }

  & + ul a:hover {
    color: $blue;
  }
}

& > #menu-link-about {
  &:after {
    background: $green;
  }

  & + ul a:hover {
    color: $green;
  }
}

& > #menu-link-doubts {
  &:after {
    background: $violet;
  }

  & + ul a:hover {
    color: $violet;
  }
}
