@import '../../../globals';

& {
  position: relative;
}

&:after {
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  transition: width 200ms;
}

&:hover:after,
&.active:after {
  width: 50px;
}

&#menu-link-budget:after {
  background: $purple
}

&#menu-link-monitor:after {
  background: $blue;
}

&#menu-link-about:after {
  background: $green;
}

&#menu-link-doubts:after {
  background: $violet;
}

&.active {
  font-weight: 900;
}